<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vinnet</title>
</head>
<body>
	<div class="third_warpper" th:fragment="contact">

		<div class="contact_tag">

			<h2>Contacts</h2>

			<div class="contact_icon">

				<i class="fa-solid fa-video"></i> <i
					class="fa-solid fa-magnifying-glass"></i> <i
					class="fa-solid fa-ellipsis"></i>

			</div>

		</div>

		<!-- <div class="right-contact">
            <div class="contact">

                <img src="/assets/images/aung_kaung_sek.jpg">
                <p>Aung Kaung Sek</p>

            </div>                
        </div> -->
		<div class="right-contact"></div>
	</div>
</body>
</html>