<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vinnet</title>
</head>
<body>
	<div class="left_shortcuts" th:fragment="leftShortcuts">
		<h2>You shortcuts</h2>
		<p class="edit">Edit</p>

		<div class="shortcuts">
			<img src="/assets/images/shortcuts_1.png">
			<p>MOBILE GAMES</p>
		</div>

		<div class="shortcuts">
			<img src="/assets/images/shortcuts_2.jpeg">
			<p>Online Education</p>
		</div>

		<div class="shortcuts">
			<img src="/assets/images/shortcuts_3.webp">
			<p>Food Lovers</p>
		</div>

		<div class="shortcuts">
			<img src="/assets/images/shortcuts_4.png">
			<p>Social Media Academy</p>
		</div>

		<div class="shortcuts">
			<img src="/assets/images/shortcuts_5.webp">
			<p>PC Shop</p>
		</div>

		<div class="shortcuts">
			<img src="/assets/images/down_arrow.png">
			<p>See more</p>
		</div>
	</div>
</body>
</html>