<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vinnet</title>
</head>
<body>
	<div class="first_warpper" th:fragment="pagesAndProfiles">

		<div class="page">

			<h2>Your Pages and profiles</h2>
			<div class="menu">
				<i class="fa-solid fa-ellipsis"></i>
			</div>

		</div>

		<div class="page_img">
			<img src="/assets/images/cute_findings.jpg">
			<p>𝓒𝓾𝓽𝓮 𝓕𝓲𝓷𝓭𝓲𝓷𝓰𝓼</p>
		</div>

		<div class="page_img">
			<img src="/assets/images/itpec_knowledge_myanmar.jpg">
			<p>ITPEC Knowledge (Myanmar)</p>
		</div>

		<div class="page_icon">
			<i class="fa-regular fa-bell"></i>
			<p>20 Notifications</p>
		</div>

		<div class="page_icon">
			<i class="fa-solid fa-bullhorn"></i>
			<p>Create promotion</p>
		</div>

	</div>
</body>
</html>