<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vinnet</title>
</head>
<body>
	<div class="room" th:fragment="room">

		<div class="room_image">

			<img src="/assets/images/live_video.png">
			<p class="room_tag">Create room</p>

		</div>

		<div class="room_profile">

			<img src="/assets/images/aung_kaung_sek.jpg"> 
			<img src="/assets/images/aye_myint_san.jpg"> 
			<img src="/assets/images/aye_thu.jpg"> 
			<img src="/assets/images/hein_thant_zin.jpg"> 
			<img src="/assets/images/kaung_khant_lin.jpg"> 
			<img src="/assets/images/khaing_shwe_win.jpg"> 
			<img src="/assets/images/khant_nyein.jpg"> 
			<img src="/assets/images/ko_nay_aung_win.jpg">
			
		</div>

	</div>
</body>
</html>