<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Vinnet</title>
</head>
<body>
	<div class="top_box" th:fragment="topStory">

		<div class="my_story_card">

			<img class="currentUserImage">

			<div class="story_upload">
				<img src="/assets/images/upload.png">
				<p class="story_tag">Create story</p>
			</div>

		</div>

		<div class="story_card">

			<img src="/assets/images/oke_pan_story.jpg">

			<div class="story_profile">

				<img src="/assets/images/hein_arkar_aung.jpg">
				<div class="cricle"></div>

			</div>

			<div class="story_name">
				<p class="name">Hein Arkar Aung</p>
			</div>

		</div>

		<div class="story_card">

			<img src="/assets/images/su_thiri_khit_story.jpg">

			<div class="story_profile">

				<img src="/assets/images/su_thiri_khit.jpg">
				<div class="cricle"></div>

			</div>

			<div class="story_name">
				<p class="name">Su Thiri Khit</p>
			</div>

		</div>

		<div class="story_card">

			<img src="/assets/images/aye_myint_san_story.jpg">

			<div class="story_profile">

				<img src="/assets/images/aye_myint_san.jpg">
				<div class="cricle"></div>

			</div>

			<div class="story_name">
				<p class="name">Aye Myint San</p>
			</div>

		</div>

		<div class="story_card">

			<img src="/assets/images/myo_myat_thiha_story.jpg">

			<div class="story_profile">

				<img src="/assets/images/myo_myat_thiha.jpg">
				<div class="cricle"></div>

			</div>

			<div class="story_name">
				<p class="name">Myo Myat Thiha</p>
			</div>

		</div>

	</div>
</body>
</html>