<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/assets/css/loginStyle.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/assets/js/ajax.js"></script>
	<script src="/assets/js/ajaxUtils.js"></script>
    <title>Vinnet - Register</title>
</head>
<body>
    <form class="login-form" enctype="multipart/form-data">
		<h1 class="login-title">Register</h1>

		<div class="input-box">
			<i class='bx bxs-user'></i>
			<input type="text" placeholder="Username" name="username" id="username" autocomplete="off">
		</div>
		
		<div class="input-box">
			<i class='bx bxs-envelope'></i>
			<input type="email" placeholder="Email" name="email" id="email" autocomplete="off">
		</div>
		
		<div class="input-box">
			<i class='bx bxs-lock-alt'></i>
			<input type="password" placeholder="Password" name="password" id="password">
		</div>

		<div class="input-box">
			<i class='bx bxs-lock-alt'></i>
			<input type="file" placeholder="Profile" name="profile" id="profile">
		</div>

		<button class="login-btn" id="register-btn" type="submit">Register</button>

		<p class="register">
			Already have an account? <a href="/vinnet/login">Login</a>
		</p>
	</form>	
</body>
</html>